In [24]:
import pandas as pd
import numpy as np

In [ ]:
s1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='int32'))
s2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='int32'))
s3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='int32'))
print(s1)
print(s2)       
print(s3)

0     2
1     2
2     3
3     1
4     3
     ..
95    1
96    4
97    3
98    1
99    2
Length: 100, dtype: int32
0     1
1     2
2     2
3     1
4     3
     ..
95    2
96    2
97    1
98    1
99    3
Length: 100, dtype: int32
0     17626
1     27722
2     20116
3     18826
4     21353
      ...
95    24608
96    13160
97    15303
98    24097
99    18414
Length: 100, dtype: int32

In [33]:
houseekt = pd.concat([s1, s2, s3], axis=1)
houseekt.head()

   0  1      2
0  2  1  17626
1  2  2  27722
2  3  2  20116
3  1  1  18826
4  3  3  21353

In [36]:
houseekt = pd.concat([s1, s2, s3], axis=1)
houseekt = houseekt.rename(columns={0: 'bedrooms', 1: 'bathrooms', 2: 'price'})
print(houseekt.head())

   bedrooms  bathrooms  price
0         2          1  17626
1         2          2  27722
2         3          2  20116
3         1          1  18826
4         3          3  21353

In [37]:
bigcolum= pd.Series(np.random.randint(1, high=100, size=100, dtype='l'), name='bigcolum')
houseekt = pd.concat([houseekt, bigcolum], axis=1)
print(houseekt.head())
print(type(bigcolum))

   bedrooms  bathrooms  price  bigcolum
0         2          1  17626        20
1         2          2  27722        82
2         3          2  20116        63
3         1          1  18826         6
4         3          3  21353        16
<class 'pandas.core.series.Series'>

In [38]:
bigcolum.reset_index(drop=True, inplace=True)
bigcolum

0     20
1     82
2     63
3      6
4     16
      ..
95    61
96    77
97    29
98    83
99    94
Name: bigcolum, Length: 100, dtype: int32